# Ignorar entorno virtual
venv/

# Ignorar archivos temporales
*.log
*.tmp

!src/
!src/*.py

# Ignorar configuraciones de VS Code (si usás)
.vscode/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db